<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenku.documents_wenku.mapper.UsercollectMapper">

    <resultMap id="BaseResultMap" type="com.wenku.documents_wenku.model.domain.Usercollect">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="documentId" column="documentId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,documentId
    </sql>
</mapper>
